/* Created by: Elijah Gott */
/* might need to redo a lot of this to adjust sizes for different screen sizes */

/* /* Smartphones (portrait and landscape) -----------
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
/* } */


/* Smartphones (landscape) -----------
@media only screen 
and (min-width : 321px) {
  /* Styles */
/* } */

/* Smartphones (portrait) -----------
@media only screen 
and (max-width : 320px) {
  /* Styles */
/* } */

/* iPads (portrait and landscape) -----------
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
/* } */

/* iPads (landscape) -----------
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
/* } */

/* iPads (portrait) -----------
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
/* } */

/* Desktops and laptops -----------
@media only screen 
and (min-width : 1224px) {
  /* Styles */
/* } */

/* Large screens -----------
@media only screen 
and (min-width : 1824px) {
  /* Styles */
/* } */


/* ALL PAGES / GENERAL */
/* ------------------- */
/* variables */
:root{
    /* colors current unused
       rgb(49, 49, 49) -> dark gray 
       rgb(250, 250, 250) -> slight off white
       rgb(239, 241, 231) -> cream */
    --background-color: rgb(239, 241, 231);
    /* --text-color: rgb(255, 255, 255); */
    --mustard-yellow: rgb(245, 178, 64);
    --text-color: black;
    --highlight: rgb(179, 233, 255);
    --highlight: rgb(255, 160, 116);
}

.test-border{
    border: solid 2px black;
}

/* background and font */
html{
    background-color: var(--background-color);
    font-family: system-ui, sans-serif;
    font-weight: normal;
}

/* body */
/* resets the margin and padding to 0 so width: 100% is actually 100%, etc */
body{
    margin: 0;
    padding: 0;
    z-index: 0;
    color: var(--text-color);
}

/* place nav on top of all other elements */
header{
    z-index: 100 !important;
}

/* general container */
.container{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* paragraph within a general container */
.container > p{
    letter-spacing: 1px;
    font-weight: 400;
}

/* container for nav */
.nav-container{
    z-index: 1000;
    position: absolute;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background: var(--background-color);
    box-shadow: 0px 0px 10px 0px lightgray;
}

/* nav unordered list */
/* contains all the links in nav */
.nav-list{
    display: flex;
    align-items: center;
    padding: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

/* nav links */
.nav-item{
    font-size: 22px !important;
    color: brown;
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 2px;
    text-align:left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

/* main content */
/* make different width for different sized screens */
.main-content{
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - (64px + 5px + 40px)); /* 64px = nav height, 5px = margin above main-content, 40px extra idk why */
    background-color: var(--background-color);
    padding-top: calc(10px + 64px); /* 64px = nav height, 10px just preference */
    padding-bottom: 30px;
}

/* huge text with red shadow */
.title{
    font-size: 56px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    color: white;
    text-shadow: 5px 5px 0px brown;
}

@media only screen and (min-width: 1000px) {
    .nav-item{
        font-size: 25px !important;
    }
    .title{
        font-size: 64px;
    }
}

/* slightly smaller title text with red shadow */
.small-title{
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    color: white;
    text-shadow: 5px 5px 0px brown;
}

.small-title > a{
    color: white;
    text-decoration: none;
}

.small-title > a:hover{
    text-decoration: underline;
}

/* add spacing between text and edge of main-content */
.container > p, h1, h2, h3, h4, h5{
    margin-left: 5%;
    margin-right: 5%;
}

/* centers images in main-content */
.container > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* remove underline from nav links */
.nav-item > a{
    color: brown;
    text-decoration: none;
    transition: all;
    font-weight: 800;
}

/* links while being hovered over */
.nav-item > a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--text-color);
}

/*      HOME PAGE      */
/* ------------------- */
/* title div */
.title-container{
    display: flex;
    max-width: 60rem;
    width: 90%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 8px;
    background-color: var(--mustard-yellow);
    border-radius: 15px;
}

/* title self-image */
.title-container > .self-photo{
    border-radius: 5%;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-right: 16px;
    box-shadow: 5px 5px 0px brown;
}

/* holds title "ELIJAH GOTT" and bio thing */
.title-text-container{
    width: fit-content;
}

/* title "ELIJAH GOTT" */
.title-text{
    font-size: 36px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 0px brown;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

/* words about "Elijah Gott"... */
.bio{
    letter-spacing: 1px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
}

/* desktops and laptops */
/* 1000px is arbitrary number, could change */
@media only screen and (min-width: 1000px){
    .title-container{
        padding: 16px;
    }
    .title-text{
        font-size: 64px;
    }
    .bio{
        font-size: 28px;
    }
}

/* skills section of page */
.skills-section{
    /* background: linear-gradient(in lch, var(--background-color), var(--mustard-yellow) 5%, var(--mustard-yellow) 95%, var(--background-color)); background color to salmon to background color gradient */
    background-color: var(--mustard-yellow);
    padding-top: 30px;
    padding-bottom: 30px;
}

/* holds the skill divs */
.skills-container{
    display: flex;
    max-width: 80rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-block: 2rem;
    -webkit-mask: linear-gradient(90deg, 
                        transparent,
                        white 20%, 
                        white 80%,
                        transparent);
    mask: linear-gradient(90deg, 
                        transparent,
                        white 20%, 
                        white 80%,
                        transparent);
}

/* container for each skill */
/* needed to prevent each skill element from moving at different speed */
.skills-div{
    width: max-content;
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    animation: skills-scroll 120s linear infinite;
}

/* styling for skill divs */
.skills{
    color: var(--text-color);
    list-style-type: none;
    min-height: 4rem;
    min-width: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--background-color);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0 -0.25rem brown;
    letter-spacing: 2px;
}

/* desktops and laptops */
/* 1000px is arbitrary number, could change */
@media only screen and (min-width: 1000px){
    .skills{
        font-size: 32px;
        min-height: 5rem;
        min-width: 6rem;
    }
}

/* animation for skills scrolling */
@keyframes skills-scroll{
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* skills fade animation */
@media (prefers-reduced-motion: no-preference){
    .main-content .skills-container{
        scale: 1; opacity: 1;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 200px;
    }
}

/* image animation */
@media (prefers-reduced-motion: no-preference){
    .image-animation{
        scale: .9; opacity: 0.5;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 600px;
    }

    @keyframes fade-in{
        to{scale: 1; opacity: 1;}
    }
}

/*        RESUME PAGE         */
/* resume */
.resume-pdf-container{
    padding-top: 16px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* PROJECTS PAGE */
/* contains each project, including the project section and the languages */
.project-spacer{
    height: 50px;
    /* border: dashed black 2px; */
}

/* whole project section excluding languages / tools / skills */
.project{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 80%; /* FIX: scale better for smaller screens */
}

/* project description */
.project > div > p{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 24px;
    font-weight: 500;
}

/* title text for project sections */
.project-section, .project-section > a{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 3rem;
    color: brown;
    text-decoration: none;
}

.project-section > a:hover{
    color: black;
    text-decoration: underline;
}

/* slightly smaller title text for project names */
.project-title{
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    color: brown;
    /* text-shadow: 5px 5px 0px var(--mustard-yellow); */
}

.project-title > a{
    color: brown;
    font-weight: bolder;
    text-decoration: none;
}

.project-title > a:hover{
    color: black;
    text-decoration: underline;
}

/* container for languages / tools used section */
.languages-container{
    width: 100%;
    background-color: var(--mustard-yellow);
    margin-bottom: 16px;
}

/* content within languages section */
.languages{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* project skills title */
.languages > h3{
    text-align: center;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 16px;
    color: white;
    text-shadow: 5px 5px 0px brown;
}

.languages > ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

/* project page images */
.project-image{
    height: 300px !important;
    width: 550px !important;
}