/* ALL PAGES / GENERAL */
/* ------------------- */
/* variables */
:root{
    /* colors currently unused
       rgb(49, 49, 49) -> dark gray 
       rgb(250, 250, 250) -> slight off white
       rgb(239, 241, 231) -> cream */
    --background-color: rgb(239, 241, 231);
    --mustard-yellow: rgb(245, 178, 64);
    --text-color: black;
    --highlight: rgb(179, 233, 255);
    --highlight: rgb(255, 160, 116);
}

.test-border{
    border: solid 2px black;
}

/* background and font */
html{
    background-color: var(--background-color);
    font-family: system-ui, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* body */
/* resets the margin and padding to 0 so width: 100% is actually 100%, etc */
body{
    margin: 0;
    padding: 0;
    z-index: 0;
    color: var(--text-color);
}

/* place nav on top of all other elements */
header{
    z-index: 100 !important;
}

/* general container */
.container{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* paragraph within a general container */
.container > p{
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* container for nav */
.nav-container{
    z-index: 1000;
    position: absolute;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background: var(--background-color);
    box-shadow: 0px 0px 10px 0px lightgray;
}

/* nav unordered list */
/* contains all the links in nav */
.nav-list{
    display: flex;
    align-items: center;
    padding: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

/* nav links */
.nav-item{
    font-size: 22px !important;
    color: brown;
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 2px;
    text-align:left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

/* main content */
/* make different width for different sized screens */
.main-content{
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - (64px + 5px + 40px)); /* 64px = nav height, 5px = margin above main-content, 40px extra idk why */
    background-color: var(--background-color);
    padding-top: calc(10px + 64px); /* 64px = nav height, 10px just preference */
    padding-bottom: 0;
    line-height: 32px;
}

/* huge text with red shadow */
.title{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    color: white;
    text-shadow: 5px 5px 0px brown;
}

@media only screen and (min-width: 1000px) {
    .nav-item{
        font-size: 25px !important;
    }
    .title{
        font-size: 64px;
    }
}

/* slightly smaller title text with red shadow */
.small-title{
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    color: white;
    text-shadow: 5px 5px 0px brown;
}

.small-title > a{
    color: white;
    text-decoration: none;
}

.small-title > a:hover{
    text-decoration: underline;
}

/* add spacing between text and edge of main-content */
.container > p, h1, h2, h3, h4, h5{
    width: 75%;
    margin: 0 auto;
    font-weight: 500;
}

/* centers images in main-content */
.container > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* remove underline from nav links */
.nav-item > a{
    color: brown;
    text-decoration: none;
    transition: all;
    font-weight: 800;
}

/* links while being hovered over */
.nav-item > a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--text-color);
}

footer{
    border-top: 8px solid brown;
    padding: 32px 0;
    color: brown;
    background-color: var(--background-color);
    height: fit-content;
}

footer > h1{
    padding-top: 16px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

.contact-table{
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 16px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.right > a{
    color: var(--text-color);
    text-decoration: underline;
}

.right > a:hover{
    color: brown;
    font-weight: bold;
    text-decoration: underline;
}

/*      HOME PAGE      */
/* ------------------- */
/* title div */
.title-container{
    display: flex;
    max-width: 60rem;
    width: 90%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 8px;
    background-color: var(--mustard-yellow);
    border-radius: 5px;
}

/* title self-image */
.title-container > .self-photo{
    border-radius: 0;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-right: 16px;
    box-shadow: 5px 5px 0px brown;
    border: 2px solid brown;
}

/* holds title "ELIJAH GOTT" and bio thing */
.title-text-container{
    width: fit-content;
}

/* title "ELIJAH GOTT" */
.title-text{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 0px brown;
    padding-bottom: 32px;
}

/* words about "Elijah Gott"... */
.bio{
    letter-spacing: 1px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
}

/* desktops and laptops */
/* 1000px is arbitrary number, could change */
@media only screen and (min-width: 1000px){
    .title-container{
        padding: 16px;
    }
    .title-text{
        font-size: 64px;
    }
    .bio{
        font-size: 28px;
    }
}

/* skills section of page */
.skills-section{
    /* background: linear-gradient(in lch, var(--background-color), var(--mustard-yellow) 5%, var(--mustard-yellow) 95%, var(--background-color)); background color to salmon to background color gradient */
    background-color: var(--mustard-yellow);
    padding-top: 30px;
    padding-bottom: 30px;
}

/* holds the skill divs */
.skills-container{
    max-width: 90rem;
    overflow: hidden;
    margin: 0 auto;
    padding: 2rem 0;
    -webkit-mask: linear-gradient(90deg, 
                        transparent,
                        white 20%, 
                        white 80%,
                        transparent);
    mask: linear-gradient(90deg, 
                        transparent,
                        white 20%, 
                        white 80%,
                        transparent);
}

.static-skills-container{
    max-width: 90rem;
    overflow: hidden;
    margin: 0 auto;
    padding: 2rem 0;
    -webkit-mask: linear-gradient(90deg, 
                        transparent,
                        white 20%, 
                        white 80%,
                        transparent);
    mask: linear-gradient(90deg, 
                        transparent,
                        white 20%, 
                        white 80%,
                        transparent);
}

/* used for button to toggle scrolling or static skills lists */
.hidden{
    display: none;
}

.visible{
    display: flex;
}

/* container for each skill */
/* needed to prevent each skill element from moving at different speed */
.skills-div{
    width: max-content;
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;
    animation: skills-scroll 90s linear infinite;
}

.static-skills-div{
    display: flex;
    width: max-content;
    padding: 0 10%;
    margin: 0 auto;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* styling for skill divs */
.skills{
    color: var(--text-color);
    list-style-type: none;
    min-height: 4rem;
    min-width: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--background-color);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    border-radius: 0.2rem;
    box-shadow: 0.6rem 0.6rem 0 -0.25rem brown;
    letter-spacing: 2px;
}

/* center skills checkbox div */
.toggle-skills-div{
    width: fit-content;
    margin: 0 auto;
}

.toggle-skills-div > label{
    font-size: 16px;
    font-weight: 600;
}

/* desktops and laptops */
/* 1000px is arbitrary number, could change */
@media only screen and (min-width: 1000px){
    .skills{
        font-size: 32px;
        min-height: 5rem;
        min-width: 6rem;
    }

    .toggle-skills-div > label{
        font-size: 20px;
    }
}

/* animation for skills scrolling */
@keyframes skills-scroll{
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* skills fade animation */
@media (prefers-reduced-motion: no-preference){
    .main-content .skills-container{
        scale: 1; opacity: 1;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 200px;
    }
}

/* image animation */
@media (prefers-reduced-motion: no-preference){
    .image-animation{
        scale: .9; opacity: 0.5;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 600px;
    }

    @keyframes fade-in{
        to{scale: 1; opacity: 1;}
    }
}

/*        PROJECT PAGE         */
/* sticky side nav for projects */
.sidebar{
    display: none;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: auto;
    height: 100dvh;
    background-color: var(--background-color);
    box-shadow: 0px 0px 10px 0px black;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

/* desktops and laptops */
/* 1000px is arbitrary number, could change */
@media only screen and (min-width: 1920px){
    .sidebar{
        display:flex;
    }
}

/* reset padding and margins for sidebar */
.sidebar > nav > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-project-section > li{
    display: block;
    text-decoration: none;
    padding-top: 8px;
}

.nav-project-section > li > a{
    display: block;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}

.nav-project-section > li > a:hover{
    color: brown;
    text-decoration: underline;
    font-weight: bold;
}

.nav-project-section{
    padding-bottom: 24px;
}

.nav-project{
    font-size: 20px;
    text-align: right;
}

#major-projects{
    scroll-behavior: smooth;
}

/* whole project section excluding languages / tools / skills */
.project{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: wrap;
    max-width: 60rem;
    width: 90%;
    background-color: var(--mustard-yellow);
    border-radius: 5px;
}

/* project description */
.project > div > p{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 24px;
    font-weight: 500;
}

/* holds the title for each section (major, minor) */
.project-section-container{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: 2rem 0;
    background-color: var(--mustard-yellow);
}

/* title text for project sections */
.project-section{
    font-size: 44px;
    font-weight: 800;
    color: var(--background-color);
    text-shadow: 5px 5px 0px brown;
    text-align: center;
    
}

/* slightly smaller title text for project names */
.project-title{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: brown;
}

.project-subtitle{
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 1rem;
    color: brown;
}

.project-title > a, .project-subtitle > a{
    color: brown;
    font-weight: bolder;
    text-decoration: none;
}

.project-title > a:hover, .project-subtitle > a:hover{
    color: black;
    text-decoration: underline;
}

/* project page images */
.project-image{
    height: auto;
    width: 95%;
    border: 2px solid brown;
    margin: 0.5rem 1rem;
}

/* container for languages / tools used section */
.languages-container{
    width: 100%;
    padding: 1rem 0;
    border-top: 2px dashed brown;
    border-bottom: 2px dashed brown;
    margin: 32px 0;
}

/* last language container (SUPPOSED TO BE LAST ON PAGE, IS ACTUALLY LAST IN SECTION) */
.languages-container:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

/* content within languages section */
.languages{
    width: 90%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* project skills title */
.languages > h3{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 16px;
    color: brown;
}

.languages > ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.back-button{
    font-size: 16px;
    color: brown;
    text-decoration: none;
}

.back-button:hover{
    color: black;
    text-decoration: underline;
}

/* 1000px is arbitrary number, could change */
@media only screen and (min-width: 1000px){
    .project-section{
        font-size: 60px;
    }
    .project{
        flex-wrap: nowrap;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .project-title{
        font-size: 40px;
    }
    .project-image{
        height: 300px;
        width: 500px;
    }
    .project-spacer{
        height: 40px;
    }
}

/*        RESUME PAGE         */
/* resume */
.resume-container{
    display: flex;
    padding-top: 8px;
    width: 94%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* resume png */
.resume-image{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    border: 2px solid brown;
    box-shadow: 5px 5px 0px brown;
}

.button-container{
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.button{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    background-color: var(--mustard-yellow);
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    border: 2px solid brown;
    box-shadow: 5px 5px 0px brown;
}

.button:hover{
    background-color: brown;
    border: 2px solid var(--mustard-yellow);
    box-shadow: 5px 5px 0px var(--mustard-yellow);
}

/* 1000px is arbitrary number, could change */
@media only screen and (min-width: 1000px){
    .resume-container{
        padding-top: 16px;
        padding-bottom: 0;
        width: 52rem;
    }
    .button-container{
        padding-top: 0;
        padding-bottom: 0;
        width: 52rem;
    }
    .button{
        width: 50%;
    }
}

/*        TO-DO PAGE         */
/*   separated todo and website-todo so that   */
/* querySelector won't select the website list */
.todo, .website-todo{
    position: relative;
    background-color: var(--mustard-yellow);
    box-shadow: 5px 5px 0px brown;
    min-height: 300px;
    min-width: 20rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    padding-top: 8px;
    /* to center the list */
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo > .project-title, .website-todo > .project-title{
    position: absolute;
    top: 0;
    padding-top: 8px;
    color: white;
    text-shadow: 4px 4px 0px brown;
    font-weight: 700;
}

.tasks-list, .website-tasks-list{
    padding-top: 28px;
    padding-bottom: 32px;
    padding-left: 0;
}

/* input button for todo list */
.add-task{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
}

/* text box and button for adding task */
.add-task > input{
    padding: 8px;
}